.d-flex.justify-content-between.align-items-center.mb-3
  h1.mb-0 = t('search.index.header', query: @query)
  = link_to t('search.index.back'), root_path, class: "btn btn-primary"
- if @query.present?
  - if @search_tasks != []
    = render "search/search_results", title: t('search.results.tasks'), results: @search_tasks, query: @query
  - if @search_projects != []
    = render "search/search_results", title: t('search.results.projects'), results: @search_projects, query: @query
  - if @search_tags != []
    = render "search/search_results", title: t('search.results.tags'), results: @search_tags, query: @query
  - if @search_tasks.empty? && @search_projects.empty? && @search_tags.empty?
    p = t('search.index.no_results', query: @query)
- else
  p = t('search.index.prompt')