<div id="task-<%= task.id %>-toggle">
  <%= link_to t('tasks.toggle.button'), update_completion_status_task_path(task), class: "btn btn-sm rounded-pill btn-warning", data: { turbo_method: "patch", turbo_confirm: t('tasks.toggle.confirm'), status: task.status? } %>
</div>