<div id="task-<%= task.id %>-toggle">
  <%= link_to "Complete/Incomplete", update_completion_status_task_path(task), class: "btn btn-sm rounded-pill btn-warning", data: { turbo_method: "patch", turbo_confirm: "Do you wish to update task state?\nCurrent state: #{task.status?}" } %>
</div>