.d-flex.justify-content-between.align-items-center.py-3
  h1 = "#{current_user.first_name}'s projects"
  = link_to "New Project", new_project_path, class: "btn btn-primary"

- extend Pagy::Frontend
.table-responsive
  table.table.table-striped.table-hover
    thead.table-light
      tr
        th Title
        th Created at
        th Action
    tbody.table-group-divider
      - @projects.each do |project|
        tr
          td = link_to project.title, project_path(project), class: "nav-link"
          td = l(project.created_at, format: :short)
          td = link_to "Delete", project_path(project), data: { turbo_method: :delete, turbo_confirm: "Delete this project?" }, class: "btn btn-danger btn-sm rounded-pill"

= render "shared/pagination", pagy: @pagy


/// ----- original erb file ----- ///
/
/ <div class="d-flex justify-content-between align-items-center py-3">
/   <h1><%= current_user.first_name %>'s projects</h1>
/   <%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
/ </div>
/
/ <% extend Pagy::Frontend %>
/ <div class="table-responsive">
/   <table class="table table-striped table-hover">
/     <thead class="table-light">
/     <tr>
/       <th>Title</th>
/       <!--<th>Number of related tasks</th>-->
/       <th>Created at</th>
/       <th>Action</th>
/     </tr>
/     </thead>
/     <tbody class="table-group-divider">
/     <% @projects.each do |project| %>
/       <tr>
/         <td><%= link_to project.title, project_path(project), class: "nav-link" %></td>
/         <td><%= l(project.created_at, format: :short) %></td>
/         <td>
/           <%= link_to "Delete", project_path(project), data: { turbo_method: :delete, turbo_confirm: "Delete this project?" }, class: "btn btn-danger btn-sm rounded-pill" %>
/         </td>
/       </tr>
/     <% end %>
/     </tbody>
/   </table>
/ </div>
/ <%= render "shared/pagination", pagy: @pagy %>