<div class="d-flex justify-content-between align-items-center mb-3">
  <h1 class="mb-0">New tag</h1>
  <%= link_to "Cancel", tags_path, class: "btn btn-primary" %>
</div>

<%= simple_form_for @tag do |tag| %>
  <%= tag.input :title, label: blank?, placeholder: 'Tag title...', error: 'Title is required.' %>
  <%= tag.button :submit, class: 'btn btn-primary' %>
<% end %>
